<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Aufen.PortalReportes.Core.Properties.Settings.Aufen_PortalReportesConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Aufen_PortalReportes;User ID=sa;Password=xirv02627809SQL"
            providerName="System.Data.SqlClient" />
        <add name="Aufen.PortalReportes.Core.Properties.Settings.ZkTimeEnterpriseConnectionString"
            connectionString="Data Source=.;Initial Catalog=ZkTimeEnterprise;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Aufen.PortalReportes.Core.Properties.Settings.ZkTimeEnterpriseConnectionString1"
            connectionString="Data Source=XRUIZV;Initial Catalog=ZkTimeEnterprise;User ID=sa;Password=xirv02627809SQL"
            providerName="System.Data.SqlClient" />
        <add name="Aufen.PortalReportes.Core.Properties.Settings.ZkTimeEnterpriseConnectionString2"
            connectionString="Data Source=.;Initial Catalog=ZkTimeEnterprise;User ID=sa;Password=nito110100"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>